@font-face {
    font-family: nb int;
    src: url(fonts/NBInternationalProBoo.woff2);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: nb int;
}

html, body {
    height: 100%;
    width: 100%;
}


#main {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(45deg, grey, orange, red);
}
.todo-app {
    max-width: 600px;
    background: linear-gradient(45deg, grey, orange, orange, red);
    padding: 20px 30px 50px;
    margin: 120px auto 15px;
    border-radius: 15px;
}

.todo-app h1 {
    text-align: center;
    margin-bottom: 8px;
}

form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

input[type="text"] {
    width: 70%;
    padding: 20px;
    border: 4px solid #632fff;
    border-radius: 15px;
    font-size: 1rem;
    margin-left: 20px;
}

.btn {
    background-color: #632fff;
    border: none;
    color: white;
    padding: 20px 30px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 1.5rem;
}

.btn:hover {
    background-color: #4a15e9;
}

ul li {
    list-style-type: none;
    font-size: 1.1rem;
    padding: 10px 6px 10px 30px;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: "☐";
    font-size: 25px;
    position: absolute;
    left: -1px;
    top: 4px;
}

#task-list {
    padding: 0px 30px;
}

ul li.checked {
    text-decoration: line-through;
    color: #632fff;
}

ul li.checked::before {
    content: "☑";
    color: #632fff;
}

ul li span {
    position: absolute;
    top: 1.8px;
    right: 5px;
    color: rgb(14, 12, 10);
    font-size: 2rem;
}
